/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f9;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0; /* Increased padding */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header .container {
    padding-bottom: 2rem; /* Moves content down within the header */
  }
  
  .button {
    display: inline-block;
    margin-top: 1rem; /* Increase this value to create more space above the button */
    padding: 0.6rem 1.2rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  header h1 {
    font-size: 2.5rem;
  }
  
  .section {
    padding: 2rem 0;
  }
  
  .section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .skills-grid, .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill, .job, .project {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
  }
  